<footer class="footer">
  <div class="container container__footer">
    <div class="footer__logo">
      <a href=".html">
        <svg class="footer__logo--light" width="73" height="57">
          <use href="./images/icons.svg#icon-logo-dt-tb"></use>
        </svg>
      </a>
    </div>
    <div class="footer__nav wth">
      <nav>
        <h3 class="footer__title">Navigation</h3>
        <ul class="footer__nav--list list">
          <li class="footer__item">
            <a href=".html" class="footer__link link">Anemone</a>
          </li>
          <li class="footer__item">
            <a href="#about-us" class="footer__link link">About us</a>
          </li>
          <li class="footer__item">
            <a href="#store" class="footer__link link">Store</a>
          </li>
          <li class="footer__item">
            <a href="#delivery" class="footer__link link">Delivery</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__worktime wth">
      <p class="footer__title">Opening times</p>
      <p class="footer__worktime-item">
        Every day<br />
        <time>09:00</time> - <time>22:00</time>
      </p>
    </div>
    <div class="footer__address wth">
      <address>
        <p class="footer__title">Contacts</p>
        <ul class="list">
          <li class="footer__item link">
            <a href="tel:+380961111111" class="footer__link">+38 063 123 45 67</a>
          </li>
          <li class="footer__item link">
            <a href="mailto:anemonestudio@example.com" class="footer__link"
              >anemonestudio<span class="footer__item--transfer">@example.com</span></a
            >
          </li>
          <li class="footer__item link">
            <a
              href="https://goo.gl/maps/VUioy3CtNrJPVxb39"
              target="_blank"
              rel="noopener noreferrer"
              class="contact-footer__map"
              >Reitarska Street, 11 Kyiv, Ukraine</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="socials__footer wth">
      <ul class="list socials__footer--list">
        <li class="socials__footer--item">
          <a href="https://www.facebook.com/" class="socials-footer__styles" aria-label="facebook">
            <svg width="28" height="28">
              <use href="images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials__list">
          <a
            href="https://www.instagram.com/"
            class="socials-footer__styles"
            aria-label="instagram"
          >
            <svg width="28" height="28">
              <use href="images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
