<div class="mobile-menu js-menu-container" id="mobile-menu">
  <button class="mobile-menu__btn js-close-menu">
    <svg width="40" height="40">
      <use href="./images/icons.svg#id=icon-close"></use>
    </svg>
  </button>
  <div class="mobile-menu__box">
    <ul class="mobile-menu__list">
      <li><a class="mobile-menu__item" href="./index.html">Anemone</a></li>
      <li><a class="mobile-menu__item" href="">About us</a></li>
      <li><a class="mobile-menu__item" href="#">Store</a></li>
      <li><a class="mobile-menu__item" href="#">Delivery</a></li>
      <li><a class="mobile-menu__item" href="#">Blog</a></li>
    </ul>
  </div>
</div>
