@media screen and (max-width: 480px) {
  .about {
    &__title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.2;
      color: #000000;
      text-transform: uppercase;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      margin-right: 16px;
      margin-right: 16px;
    }
    &__text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.2;
      color: #000000;
      text-overflow: clip;
      margin-top: 32px;
      margin-bottom: 16px;
    }
  }
}
// @media screen and (max-width: 767px) {

//   }

@media screen and (min-width: 480px) and (max-width: 768px) {
  .about {
    &__title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 44px;
      line-height: 1.2;
      color: #000000;
      text-transform: uppercase;
    }
    &__wrapper {
      display: flex;
      gap: 54px;
      align-items: center;
    }
    &__text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.2;
      color: #000000;
      text-overflow: clip;
    }
    &__picture {
      max-width: 288px;
      max-height: 178px;
    }
  }
}
@media screen and (min-width: 481px) {
  .about {
    &__title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 44px;
      line-height: 1.2;
      color: #000000;
      text-transform: uppercase;
    }
    &__wrapper {
      display: flex;
      gap: 90px;
      align-items: center;
    }
    &__text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.2;
      color: #000000;
      text-overflow: clip;
    }
    &__picture {
      width: 344px;
      height: 217px;
    }
  }
}

// @media screen and (min-width: 769px) {
//   .about {
//     &__title {
//       font-family: 'Montserrat';
//       font-style: normal;
//       font-weight: 700;
//       font-size: 44px;
//       line-height: 1.2;
//       color: #000000;
//       text-transform: uppercase;
//     }
//     &__wrapper {
//       display: flex;
//       gap: 90px;
//       align-items: center;
//     }
//     &__text {
//       font-family: 'Montserrat';
//       font-style: normal;
//       font-weight: 400;
//       font-size: 20px;
//       line-height: 1.2;
//       color: #000000;
//       text-overflow: clip;
//     }
//   }
// }
