.blog {
  margin-bottom: 60px;
  @include tablet {
    margin-bottom: 100px;
  }
  &__title {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 24px;
    line-height: 1.21;

    @include tablet {
      font-size: 44px;
      line-height: 1.23;
    }
  }
  &__text {
    font-family: $main-font;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    margin: 14px 0 24px;

    @include tablet {
      font-size: 32px;
      margin: 18px 0 32px;
    }

    @include desktop {
      margin: 24px 0 32px;
    }
  }
  &-btn {
    padding: 8px 39.5px;
    font-size: 18px;
    line-height: 1.33;

    @include tablet {
      padding: 20px 69.5px;
      font-size: 28px;
      line-height: 0.86;
    }
  }
}
.slider {
  margin: 32px 0 4px;
  display: flex;
  justify-content: center;
  gap: 16px;

  @include tablet {
    margin: 60px 0 8px;
    gap: 32px;
  }
  @include desktop {
    margin: 60px 0 18px;
  }

  &__item {
    &--missing {
      display: none;

      @include desktop {
        display: block;
      }
    }
  }
  &__directions {
    display: flex;
    justify-content: center;
    gap: 29px;

    @include tablet {
      gap: 30px;
    }
  }
  &__arrow {
    width: 50px;
    height: 50px;

    @include tablet {
      width: 61px;
      height: 61px;
    }
  }
}
