.blog {
  margin-bottom: 60px;
  @include tablet {
    margin-bottom: 100px;
  }
  &__title {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 24px;
    line-height: 1.21;

    @include tablet {
      font-size: 44px;
      line-height: 1.23;
    }
  }
  &__text {
    font-family: $main-font;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    margin-bottom: 24px;

    @include tablet {
      font-size: 32px;
      margin-bottom: 32px;
    }
  }
  &-btn {
    padding: 8px 39.5px;
    font-size: 18px;
    line-height: 1.33;

    @include tablet {
      padding: 20px 69.5px;
      font-size: 28px;
      line-height: 0.86;
    }
  }
}
.slider {
  margin: 32px 0 68px;
  display: flex;
  justify-content: center;
  gap: 16px;

  @include tablet {
    margin: 60px 0 87px;
    gap: 32px;
  }
  @include desktop {
    margin: 122px 0 103px;
  }

  &__item {
    &--missing {
      display: none;

      @include desktop {
        display: block;
      }
    }
  }
}
