.btn {
  font-family: $main-font;
  color: $color-light;
  font-weight: 500;
  background: $color-btn;
  border-radius: 38px;
  border: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
