*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
body {
  font-family: $main-font;
}
.section {
  padding-bottom: 60px;
  @include tablet {
    padding-bottom: 100px;
  }
  &:nth-of-type(2) {
    padding-top: 20px;

    @include tablet {
      padding-top: 60px;
    }
  }
}
.container {
  margin: 0 auto;
  padding: 0 16px;
  // width: 100%;
  max-width: 480px;
  @include tablet {
    max-width: 768px;
    padding: 0 24px;
  }
  @include desktop {
    max-width: 1280px;
  }
}
.container__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  @include tablet {
    justify-content: space-evenly;
    align-items: flex-start;
    // gap: 40px;
  }
  @include desktop {
    justify-content: space-between;
    align-items: flex-start;
  }
}
img {
  display: block;
}
input {
  border: none;
  outline: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.subtitle::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: $color-dark;
}
