.container__store{
    position: relative;
    display: flex;
    align-items: center;
}

.store{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  padding-top: 0;
  padding-bottom: 0;
       
    &__item{
        position: relative;
        max-width: 136px;
            @include tablet{
                max-width: 345px;
            }   
             @include desktop{
                max-width: 600px;
            } 
        }
        
    &__title{
        display:flex;
        align-items: center;
        gap:14px;
        font-size: 24px;    
        padding-bottom: 32px;
       
            @include tablet{
                font-size: 44px;
                padding-bottom: 60px;
                }
           @include desktop{
                font-size: 44px;
                padding-bottom: 80px; 
                } 
            }
       
    &__card{
        display:flex;
        max-width: 136px;
            @include tablet{
                max-width: 345px;
                }   
             @include desktop{
                max-width: 600px;
                }   
            }
        
    &__item__price{
        display: block;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        font-family: $main-font;
        line-height: 1.22;
        text-align: left;
        color: $color-dark;
        opacity: 0.6;
        font-weight: 600;
        margin-bottom: 0;
            @include tablet{
                font-size: 29px;    
                }   
            @include desktop{
                font-size: 34px;
                } 
            }
      
    &__title__item{
        display: flex;
        white-space: nowrap;
        font-style: normal;
        font-weight: 500 ;
        font-family: $main-font;
        font-size: 16px;
        line-height: 1.22;
        margin: 12px 0 6px;
        align-items: center;
            @include tablet{
                font-size: 32px;
                gap:8px;
                }
            @include desktop{
                font-size: 36px;
                gap: 16px;
                } 
            }
               

    &__list{
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        max-width: 288px ;
        list-style: none; 
        gap: 16px;
        padding: 0 auto;
        margin: 0 auto;
            @include tablet{
                max-width: 720px;
                gap: 32px;
                }   
             @include desktop{
                maxn-width: 1232px;
                gap: 32px;
                } 
            }

.store__title__item::after {
   
 @include tablet{
    content: "";   
    width: 100%;   
    height: 1px;   
    background-color: $color-dark;   
    display: inline-block; 
    padding-left: 8px;
}
@include desktop{
    content: "";   
    width: 100%;   
    height: 1px;   
    background-color: $color-dark;   
    display: inline-block; 
    padding-left: 16px;
}
}
}
/*
.scale{
    position: relative;
   display: inline-block;
transition-property: transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(.075,.82,.165,1)
}
.store__img:active
.store__img:hover{
    transform: scale(1.2);
}
*/